[viewBag]
==
{% set post = blogPost.post %}


{% if post.featured_images.count %}
    <div class="featured-images">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%" />
            </p>
        {% endfor %}
    </div>
{% endif %}

<div class="content">{{ post.content_html|raw }}</div>

<div class="well well-sm">
        Article publié le {{ post.published_at|date('d/m/Y') }}.
        {% if post.categories.count %} Dans :
            {% for category in post.categories %}
                <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            .
        {% endif %}
</div>