.preview-page {
  max-width: 1200px;
  margin: 0 auto!important;
}
.container {
  width: 100% !important;
}
.boxed-group>h3 {
  display: none !important;
}
.readme .markdown-body {
  padding: 20px 10px !important;
  border: 0;
}
h1, h2 {
  color: #0F3789;
}
h3 {
  color: #333;
}
