version: 2
jobs:
  python:
    docker:
      - image: circleci/python:2.7.13
    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install Ubuntu dependencies
          command: sudo apt install -y  software-properties-common python-dev libsqlite3-dev zlib1g-dev

      - restore_cache:
          key: requirements-{{ checksum "requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            virtualenv -p /usr/bin/python2.7 venv
            source venv/bin/activate
            pip install -r requirements.txt
            echo "source $(pwd)/venv/bin/activate" >> $BASH_ENV
      - save_cache:
          key: requirements-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
  laravel:
    docker:
      - image: circleci/php:7.1-node-browsers
    working_directory: ~/repo/snosan
    steps:
      - checkout:
          path: ~/repo
      - run: sudo apt install -y libsqlite3-dev zlib1g-dev
      - run: sudo docker-php-ext-install zip
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            - composer-v1-
      - run: composer install -n --prefer-dist
      - save_cache:
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - run: yarn install
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: touch storage/testing.sqlite
      - run: php artisan migrate --env=testing
      - run: ./vendor/bin/phpunit
  opendata_build:
    docker:
      - image: antoineaugusti/secmar-opendata-build:0.0.1
    working_directory: ~/repo/opendata
    steps:
      - checkout:
          path: ~/repo
      - run:
          name: Create documentation for open data
          command: |
            python -c "from transformers.opendata.filter_doc import FilterYamlDocumentation;FilterYamlDocumentation('config/drop_columns.json').filter_yaml('doc.yml', 'opendata_doc.yml')"
      - run:
          name: Check doc files against OpenAPI specification
          command: |
            speccy lint doc.yml -s info-contact -s operation-tags -s operation-operationId -s openapi-tags
            speccy lint opendata_doc.yml -s info-contact -s operation-tags -s operation-operationId -s openapi-tags
      - run:
          name: Prepare Grip
          command: |
            mkdir ~/.grip
            mv grip/settings.py ~/.grip/settings.py
      - run:
          name: Build Markdown documentation for opendata
          command: |
            oa-to-md opendata_doc.yml opendata_schema.md
            python -m SimpleHTTPServer 8000 &> /dev/null &
            pid=$!
            cat doc/preambule.md doc/cross.md doc/donnees.md opendata_schema.md > all.md
            grip all.md --export opendata_schema.html
            sed -i 's/.*html lang.*/<html lang="fr">/' opendata_schema.html
            sed -i 's~.*<title>.*~<title>Documentation du jeu de données SECMAR</title>~' opendata_schema.html
            sed -i 's~.*grip/static/octicons/octicons.css.*~~' opendata_schema.html
            sed -i 's~.*<th>Field</th>~<th>Colonne</th>~' opendata_schema.html
            sed -i 's~.*<th>Example</th>~<th>Exemple</th>~' opendata_schema.html
            sed -i 's~.*<th>Properties</th>~<th>Propriétés</th>~' opendata_schema.html
            kill "${pid}"
            xvfb-run wkhtmltopdf opendata_schema.html opendata_schema.pdf
      - run:
          name: Build Markdown documentation for SNOSAN
          command: |
            oa-to-md doc.yml schema.md
            python -m SimpleHTTPServer 8000 &> /dev/null &
            pid=$!
            cat doc/preambule.md doc/cross.md doc/donnees.md schema.md > all.md
            grip all.md --export schema.html
            kill "${pid}"
            xvfb-run wkhtmltopdf schema.html schema.pdf
      - store_artifacts:
          path: schema.md
          destination: schema.md
      - store_artifacts:
          path: schema.pdf
          destination: schema.pdf
      - store_artifacts:
          path: schema.html
          destination: schema.html
      - store_artifacts:
          path: opendata_schema.md
          destination: opendata_schema.md
      - store_artifacts:
          path: opendata_schema.pdf
          destination: opendata_schema.pdf
      - store_artifacts:
          path: opendata_schema.html
          destination: opendata_schema.html

  opendata_test:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/repo/opendata
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
      - run: sudo apt install python-dev
      - run:
          name: Install dependencies
          command: |
            python -m venv venv || virtualenv -p /usr/bin/python2.7 venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: Run test suite
          command: |
            . venv/bin/activate
            nosetests .
workflows:
  version: 2
  all_jobs:
    jobs:
      - python
      - laravel
      - opendata_test
      - opendata_build:
          requires:
            - opendata_test
