version: 2
jobs:
  python:
    docker:
      - image: circleci/python:2.7.13
    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install Ubuntu dependencies
          command: sudo apt install -y  software-properties-common python-dev libsqlite3-dev zlib1g-dev

      - restore_cache:
          key: requirements-{{ checksum "requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            virtualenv -p /usr/bin/python2.7 venv
            source venv/bin/activate
            pip install -r requirements.txt
            echo "source $(pwd)/venv/bin/activate" >> $BASH_ENV
      - save_cache:
          key: requirements-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
  laravel:
    docker:
      - image: circleci/php:7.1-node-browsers
    working_directory: ~/repo/snosan
    steps:
      - checkout:
          path: ~/repo
      - run: sudo apt install -y libsqlite3-dev zlib1g-dev
      - run: sudo docker-php-ext-install zip
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            - composer-v1-
      - run: composer install -n --prefer-dist
      - save_cache:
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - run: yarn install
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: touch storage/testing.sqlite
      - run: php artisan migrate --env=testing
      - run: ./vendor/bin/phpunit
  opendata:
    docker:
      - image: circleci/node:latest
    working_directory: ~/repo/opendata
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
            key: dependency-cache-{{ checksum "package.json" }}
      - run: yarn install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: ./node_modules/.bin/speccy lint doc.yml -s info-contact -s operation-tags -s operation-operationId -s openapi-tags
      - run:
          name: Build Markdown documentation
          command: |
            pip install open-api-schemas-to-markdown
            oa-to-md doc.yml schema.md
            npm install -g markdown-pdf
            wget -O github-markdown.css https://raw.githubusercontent.com/sindresorhus/github-markdown-css/gh-pages/github-markdown.css
            markdown-pdf -s github-markdown.css schema.md
      - store_artifacts:
          path: schema.md
      - store_artifacts:
          path: schema.pdf
workflows:
  version: 2
  python_and_laravel:
    jobs:
      - python
      - laravel
      - opendata
