
// Body
$body-bg: #f5f8fa;

// Colors
$theme-colors: (
  "primary": #0D3F94,
  "warning": #e55039
);

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
