//
// Layouts
//
// Styles specific to different page layouts.
//

body {
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header#layout-header {
  .navbar-brand {
    margin-top: -10px;
  }
  .navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    border-top: 4px solid @orange;
    margin-bottom: 0;
  }
}

#layout-content {
  flex: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-header {
  background: @blue;
  color: #f8f9fa;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.mt-5 {
  margin-top: 3rem;
}

#footer {
  margin-top: 2em;
  background: @blue;
  color: white;
  border-top: 3px solid @orange;
}
#footer .container {
  padding: .5em 0;
}
#footer img {
  display: block;
  width: 100px;
  margin-top: 1em;
  padding: .3em;
  background: white;
}
#footer a {
  color: lighten(@blue, 50%);
  border-bottom: 1px solid transparent;
  transition: border-color .3s linear;
}
#footer a:hover {
  border-color: lighten(@blue, 50%);
  text-decoration : none;
}
#footer ul {
  list-style: none;
  padding-inline-start: 0;
}
#footer .col-md-6 {
  margin-top: 1em;
}
@media screen and (max-device-width: 768px){
  #footer li {
    display: inline-block;
    padding-right: 1em;
  }
}
